body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapper img {
    width: 320px;
}

.container {
    min-height: 420px;
    min-width: 320px;
    padding: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.header {
    margin-bottom: 60px;
    margin-top: 60px;
}

.container .buttons {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn:nth-child(1) {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 1.1em;
    background: rgb(95, 228, 95);
    
}

.btn:nth-child(2) {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 1.1em;
    background: #ccc;
    
}

.btn a {
    padding: 0;
    margin: 0;
    display: block;
    text-decoration: none;
    color: #444;
}

.container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container form input {
    padding: 10px 10px;
    margin-bottom: 10px;
}

.back-btn {
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    background: #ccc;
    margin-left: 70%;
}

.alert {
    padding: 5px;
    font-size: 14px;
    color: white;
    background: green;
    box-shadow: 0px 1px 3px #ccc;
    margin-bottom: 15px;
    border-radius: 2px;
}

.alert-error {
    background: red;
}

.alert-success {
    background: green;
}

.dash-container {
    width: 96%;
    height: 96%;
    margin: 2%;
    background: #fff;
    border-radius: 5px;
}

.dash-container a{
    width: 100px;
    padding: 0;
    margin: 0;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
}

.boton-rojo {
    width: 100%;
    padding: 15px;
    margin-bottom: 50px;
    font-size: 1.1em;
    background: rgb(248, 81, 81);   
}



/* Aquí comienzan los estilos de la página dashboard para el home de sesión iniciada */

:root{
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
}


.menu{
    display: none;
    width: 50px;
    height: 50px;
    padding-top: 8px;
}

.logo{
    width: 200px;
}

.navbar-iz ul,
.navbar-der ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-iz {
    display: flex;
}

.navbar-iz ul{
    margin-left: 12px;
}

.navbar-iz ul li a,
.navbar-der ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;

}

.navbar-iz ul li a:hover,
.navbar-der ul li a:hover{
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}

.nav-correo{
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 20px;
}

.navbar-carrito {
    position: relative;
}

@media (max-width: 950px) {
    .menu{
        display: block;
    }
    .navbar-iz ul {
        display: none;
    }

    .nav-correo{
        display: none;
    }
}

/* Aquí terminan los estilos del dashboard */